/* SChriftart & Background color*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: lightslategrey;
}
/* Überschrift */
h1{
    margin: 15px 0 25px;
    text-align: left;
    font-size: 40px;
}

.container{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-horizontal{
    /*380*/
    width:400px;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow:2px 2px 15px rgba(0,0,0, .5);
}
.form-qr{
    margin-top: 45px;
    width:400px;
    background-color: #ffffff;
    padding: 15px 30px;
    border-radius: 12px;
    box-shadow:2px 2px 15px rgba(0,0,0, .5);
}


.control-label{
    text-align: left !important;
    padding-bottom: 4px;
}

.progress{
    height: 3px !important;
}
.form-group{
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top: 5%;
    right: 8%;

}
.progress-bar-danger{
    background-color: crimson;
}
.progress-bar-warning{
    background-color: gold;
}
.progress-bar-success{
    background-color: limegreen;
}
.btn{
    width: 100% !important;
    background-color: #166fe5;
    font-size: 18px;
    color: white;
    margin: 0 auto 5px;
    padding: 8px 0;
}


.far-eye{
    color: #022255;
    cursor: pointer;

}
.far{
    margin-top: 10px;


}
.ex-account p a{
    color: #f6086e;
    text-decoration: underline;
}
.fa-circle{
    font-size: 13px;
}
.fa-check{
    color: #02b502;
}

.list-unstyled{
    padding-top: 20px;
}

*{
    margin: 0;
    pagging: 0;
    box-sizing: border-box;

}


header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #f7f7f7;
    overflow: hidden;
    text-align: center;
}

h1.profile{
    text-align: center;
}


.menu{
    diplay: none;
}

.main-text{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-family: 'Poppins', sans-serif;
    test-transform: uppercase;

}

.main-text h1{
    font-size: 4rem;
    margin-right: -3px;
}

.twofact h1{
    font-size: 25px;
}

nav{
    width: 100%;
    height: 6rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 5rem;
    box-shadow: 0 0 3rem rgba(0,0,0,0.2);
    background-color: #fff;
}

.nav-container{
    width: 80%;
    max-width: 96rem;
    margin: 0 auto;
}

nav ul{
    list-style: none;
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 0 1.5rem;
    tansition: opacity 0.3s;
}
nav ul li a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
}

nav ul li a.active-page{
    color: #333;
}

nav ul li a:hover{
    color: #333;
}

nav:hover ul li:not(:hover){
     opacity: 0.5;
}
@media screen and (max-width: 768px){
    .menu{
        display: block;
        position: fixed;
        width: 3rem;
        height: 3rem;
        top: 3rem;
        right: 3rem;
        z-index: 999;
        cursor: pointer;
    }
    .bar,
    .bar::before,
    .bar::after{
        position: absolute;
        background-color: #000;
        margin: auto;
        width: 100%;
        height: 3px;
        content: "";
        top: 50%;
        left: 0;
    }

    .bar{
        margin-top: -2px;
    }
    .bar::before{
        top: -1.2rem;
    }
    .bar::after{
        top: 1.2rem;
    }
    .bar::before,
    .bar::after{
        transform: rotate(0deg);
    }
    .active .bar{
        background-color: transparent;
    }
    .active .bar::before{
        transform: rotate(45deg);
    }
    .active .bar::after{
        transform: rotate(-45deg);
    }
    .active .bar::before,
    .active .bar::after{
        top: 0;
    }

    nav{
        width: 25rem;
        height: 100%;
        background-color: #fff;
        position: fixed;
        transform: translateX(-50rem);
        z-index: 998;
        line-height: 1;
        font-size: 2.5rem;
        transition: transform 0.5s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    }

    .menu-open nav{
        transform: translateX(0);
    }

    nav ul{
        width: 100%;
        text-align: center;
        padding-top: 10rem;
    }

    nav ul li{
        display: block;
        padding: 4rem 1rem;
    }

    .main-text h1{
        font-size: 2.5rem;
    }

    .main-text h3{
        font-size: 2.5rem;
    }


}
.nav {
    color:            #F8F8F8;
    background-color: #4f81bd;
}



